In [2]:
# Main libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Processing libraries
from sklearn.preprocessing import StandardScaler,MinMaxScaler

# Model libraries
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC, NuSVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, ExtraTreesClassifier, VotingClassifier
from sklearn.neural_network import MLPClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis, QuadraticDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB

# Testing libraries
from sklearn.model_selection import train_test_split, cross_val_score, StratifiedKFold, GridSearchCV, learning_curve
from sklearn.metrics import accuracy_score, log_loss, confusion_matrix, classification_report, roc_curve, auc

# Ignore warnings
import warnings
warnings.filterwarnings('ignore')
sns.set(font_scale=1.8)

In [6]:
from sklearnex import patch_sklearn
patch_sklearn()

Intel(R) Extension for Scikit-learn* enabled (https://github.com/intel/scikit-learn-intelex)

### Read Dataset

In [7]:
# Importing dataset
data = pd.read_csv('dataset/RIPULITOPYTHON.csv')
data.head()

,dayofweek,weekofmonth,day,month,partofdaydep,partofdayarr,deptime,airtime,crsarrtime,flightnum,...,statecodeorig,airportdest,countrydest,statecodedest,uniquecarrier,airline,statenamedest,regiondest,statenameorig,regionorig
0,4,1,3,1,PM,PM,1829,77,1925,3920,...,IN,Baltimore-Washington International Airport,United States,MD,WN,Southwest Airlines Co.,Maryland,Southeast,Indiana,Midwest
1,4,1,3,1,PM,PM,1937,230,1940,509,...,IN,McCarran International Airport,United States,NV,WN,Southwest Airlines Co.,Nevada,West,Indiana,Midwest
2,4,1,3,1,PM,PM,1644,107,1725,1333,...,IN,Orlando International Airport,United States,FL,WN,Southwest Airlines Co.,Florida,Southeast,Indiana,Midwest
3,4,1,3,1,PM,PM,1452,213,1625,675,...,IN,Phoenix Sky Harbor International Airport,United States,AZ,WN,Southwest Airlines Co.,Arizona,Midwest,Indiana,Midwest
4,4,1,3,1,PM,PM,1323,110,1510,4,...,IN,Tampa International Airport,United States,FL,WN,Southwest Airlines Co.,Florida,Southeast,Indiana,Midwest

In [8]:
data.describe()

,dayofweek,weekofmonth,day,month,deptime,airtime,crsarrtime,flightnum,actualelapsedtime,crselapsedtime,depdelay,distance,taxiIn,taxiOut,carrierdelay,weatherdelay,nasdelay,securitydelay,lateaircraftdelay
count,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000,484551.000000
mean,3.991605,2.998807,15.219252,3.369889,1564.477865,108.877134,1652.129929,2139.207386,134.810422,131.400761,57.498086,752.142689,6.782413,19.150876,17.419440,3.153284,13.599421,0.082033,26.653587
std,1.971466,1.330117,8.938993,1.715433,452.235219,70.113513,466.096216,1812.677071,74.070374,71.542531,55.991012,571.631124,5.555816,15.309747,39.417893,19.503657,31.454655,1.884774,40.535994
min,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.000000,1.000000,15.000000,-21.000000,6.000000,31.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2.000000,2.000000,7.000000,2.000000,1234.000000,57.000000,1339.000000,629.000000,80.000000,79.000000,23.000000,331.000000,4.000000,11.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,4.000000,3.000000,15.000000,3.000000,1620.000000,90.000000,1723.000000,1514.000000,116.000000,114.000000,40.000000,599.000000,5.000000,15.000000,2.000000,0.000000,1.000000,0.000000,13.000000
75%,6.000000,4.000000,23.000000,5.000000,1928.000000,139.000000,2025.000000,3683.000000,168.000000,162.000000,72.000000,992.000000,8.000000,22.000000,19.000000,0.000000,13.000000,0.000000,36.000000
max,7.000000,5.000000,31.000000,6.000000,2400.000000,609.000000,2359.000000,8403.000000,727.000000,602.000000,1710.000000,4502.000000,207.000000,383.000000,1707.000000,1148.000000,1357.000000,392.000000,1254.000000

In [9]:
# checking if there is any NULL data
data.isnull().sum()

dayofweek               0
weekofmonth             0
day                     0
month                   0
partofdaydep            0
partofdayarr            0
deptime                 0
airtime                 0
crsarrtime              0
flightnum               0
tailnum                 0
actualelapsedtime       0
crselapsedtime          0
depdelay                0
iataorig                0
iatadest                0
distance                0
taxiIn                  0
taxiOut                 0
carrierdelay            0
weatherdelay            0
nasdelay                0
securitydelay           0
lateaircraftdelay       0
airportorig             0
countryorig             0
statecodeorig           0
airportdest             0
countrydest             0
statecodedest           0
uniquecarrier           0
airline                 0
statenamedest           0
regiondest           2604
statenameorig           0
regionorig           2135
dtype: int64

In [11]:
data[]

KeyError: "None of [Int64Index([4, 4, 4, 4, 4, 4, 4, 4, 4, 4,\n            ...\n            7, 3, 7, 2, 4, 5, 6, 2, 7, 1],\n           dtype='int64', length=484551)] are in the [columns]"